.similar-job-item-container {
  border-radius: 10px;
  background-color: #272727;
  padding: 20px;
  width: 270px;
}

@media (max-width: 576px) {
  .similar-job-item-container {
    width: 100%;
  }
}
