.jobs-container {
  display: flex;
  background-color: black;
  padding: 50px;
  padding-top: 30px;
  min-height: 90vh;
}

.sidebar-container {
  width: 20vw;
  margin-right: 40px;
}

.filter-title {
  color: #f8fafc;
}

.filter-item-container {
  padding: 0px;
}

.filter-item {
  margin-bottom: 8px;
}

.filter-label {
  color: #f1f5f9;
  margin-left: 5px;
}
