.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 195px;
  width: 100%;
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 195px;
  width: 100%;
}

.retry-button {
  border-style: none;
  background-color: #4f46e5;
  cursor: pointer;
  border-radius: 5px;
  color: #f8fafc;
  padding: 10px;
  width: 100px;
}

.profile-card-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-size: cover;
  padding: 20px;
  padding-top: 15px;
  margin-bottom: 20px;
  font-family: 'Roboto';
}

.profile-image {
  height: auto;
  width: 60px;
}

.profile-name {
  color: #6366f1;
  font-weight: bold;
}

.profile-description {
  color: #2c364c;
  margin: 0px;
  font-size: 14px;
}
